[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=freech
GenericName=P2P microblogging
Comment=P2P microblogging
Exec=/usr/bin/freech-control --launch
Terminal=false
Icon=/usr/share/pixmaps/freech128.png
Type=Application
Categories=Network;P2P;
